---
import type { ENSNamespaceId } from "@ensnode/ensnode-sdk";
import type { SetupPackageManager } from "@lib/examples/omnigraph/build-integration-snippets";

import StaticExampleActionBar from "./StaticExampleActionBar.astro";
import StaticExampleCodeSection from "./StaticExampleCodeSection.astro";
import StaticExampleOutputSection from "./StaticExampleOutputSection.astro";
import StaticExampleTabbedSection from "./StaticExampleTabbedSection.astro";
import StaticExampleNote from "./StaticExampleNote.astro";
import { buildSdkSetupTabs } from "./build-sdk-setup-tabs";
import { exampleTabClass, staticExampleSectionXClass } from "./example-tab-styles";

interface Props {
  exampleId: string;
  uid: string;
  snippet: string;
  setupSnippets: Record<SetupPackageManager, string>;
  responseJson: string | null;
  hostedInstanceDocUrl: string;
  hostedInstanceNamespace: ENSNamespaceId;
}

const {
  exampleId,
  uid,
  snippet,
  setupSnippets,
  responseJson,
  hostedInstanceDocUrl,
  hostedInstanceNamespace,
} = Astro.props;

const { tabs, panels } = buildSdkSetupTabs({
  uid,
  prefix: "enssdk",
  setupSnippets,
});

const docsLinkClass = "underline underline-offset-2 hover:text-[var(--sl-color-text-accent)]";
---

<StaticExampleActionBar
  variant="stackblitz"
  hostedInstanceDocUrl={hostedInstanceDocUrl}
  hostedInstanceNamespace={hostedInstanceNamespace}
  staticExampleId={exampleId}
/>

<StaticExampleCodeSection badge="TypeScript" code={snippet} lang="typescript" />

{
  responseJson ? (
    <StaticExampleOutputSection
      uid={`${uid}-enssdk`}
      responseJson={responseJson}
      heading="Output"
    />
  ) : null
}

<StaticExampleTabbedSection
  tabsRootId={`${uid}-enssdk`}
  tablistAriaLabel="Package manager setup"
  srHeading={{ id: `${uid}-enssdk-setup-heading`, label: "enssdk package manager setup" }}
  tabs={tabs}
  panels={panels}
  tabButtonClass={exampleTabClass}
  tabIconClass="tab-icon"
/>

<section class={`pb-4 ${staticExampleSectionXClass}`}>
  <StaticExampleNote>
    See the{" "}
    <a href="/docs/integrate/integration-options/enssdk" class={docsLinkClass}>enssdk docs</a>
    {" "}for gql.tada plugin and tsconfig setup.
  </StaticExampleNote>
</section>
